h1,h2,h3,h4,h5,h6{
    color: rgb(0, 0, 0);
}

h1 {
    text-shadow: 2px 2px rgb(206, 149, 173); 
    border-top: 5px solid #bcdbe7;
    border-bottom: 5px solid #bcdbe7;
    text-align: center;
  }

h2{font-weight:bold;
    text-decoration: underline;
    text-decoration-color: rgb(206, 149, 173);
}

li{color: rgb(223, 180, 194);}
.border-test{
    border: black 1px solid;
}
#borderblue{
background-color:#bcdbe7;}
.img-parent {
    text-align:center;
}
.img-parent{
    text-align: center;
}